src/Stage_One/BookInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BookInfo"
	xmlns:tns="http://www.example.org/BookInfo" elementFormDefault="qualified">
	<element name = 'book'>
		<complexType>
			<sequence maxOccurs="unbounded">
				<element name = "name" type = "string" />
				<element name = "author" type = "string" />
				<element name = "price" type = "string" />
			</sequence>
		</complexType>
	</element>
</schema>